  <div class="mainContent">
    <div id="profileWrapper">
      <div id="profileArea">
        <h3>Welcome Back!</h3>
        <img id="profilePic"src="https://upload.wikimedia.org/wikipedia/commons/9/9c/Jay-Z_%40_Shawn_%27Jay-Z%27_Carter_Foundation_Carnival_%28crop_2%29.jpg" alt="profilePic">
        <h5>name goes here</h5>
      <div class="stats">
        <i class="material-icons star">star</i>
        <h5>4.9</h5>
        </div> 
      <div class="stats">
        <h6>Artist / Producer</h6>
        </div> 
      <div class="stats">
        <h6>number of gigs grabbed: </h6>
        <h6>49</h6>
        </div> 
      <div class="stats">
        <h6>Money grabbed: </h6>
        <h6>$1,000,000,000</h6>
        </div> 
        <div class="stats profileButtons">
        <a class="waves-effect waves-light btn-large">Give A gig</a>
        <a class="waves-effect waves-light btn-large">Edit Profile</a>
        </div>
      </div>
    </div>
    <div id="postArea">
      <h3> post Area</h3>
    </div>
    <div id="gigArea">
        <div id="gigHeader">
          <h5>Jazz band for Hotel</h5>
          <div class="gig stats">
            <h6>$200 per person</h6>
            <h6>10/1/2019</h6>
          </div>
        <a class="waves-effect waves-light btn-large"><i class="material-icons left">monetization_on</i>Grab It!</a>

        </div>
      <div id="gigContent">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad, facere molestias iste illo nihil blanditiis velit autem alias ipsum mollitia eius explicabo voluptate sequi eos quisquam dolorum facilis non ut?</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad, facere molestias iste illo nihil blanditiis velit autem alias ipsum mollitia eius explicabo voluptate sequi eos quisquam dolorum facilis non ut?</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad, facere molestias iste illo nihil blanditiis velit autem alias ipsum mollitia eius explicabo voluptate sequi eos quisquam dolorum facilis non ut?</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad, facere molestias iste illo nihil blanditiis velit autem alias ipsum mollitia eius explicabo voluptate sequi eos quisquam dolorum facilis non ut?</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad, facere molestias iste illo nihil blanditiis velit autem alias ipsum mollitia eius explicabo voluptate sequi eos quisquam dolorum facilis non ut?</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad, facere molestias iste illo nihil blanditiis velit autem alias ipsum mollitia eius explicabo voluptate sequi eos quisquam dolorum facilis non ut?</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad, facere molestias iste illo nihil blanditiis velit autem alias ipsum mollitia eius explicabo voluptate sequi eos quisquam dolorum facilis non ut?</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad, facere molestias iste illo nihil blanditiis velit autem alias ipsum mollitia eius explicabo voluptate sequi eos quisquam dolorum facilis non ut?</p>
      </div>
    </div>

  </div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            

<script src="/js/index.js"></script>
