  <div class="mainContent">
    <div id="profileWrapper">
      <div id="profileArea">
        <h3>Welcome Back!</h3>
        <img id="profilePic"src="https://upload.wikimedia.org/wikipedia/commons/9/9c/Jay-Z_%40_Shawn_%27Jay-Z%27_Carter_Foundation_Carnival_%28crop_2%29.jpg" alt="profilePic">
        <h5>name goes here</h5>
      <div class="stats">
        <i class="material-icons star">star</i>
        <h5>4.9</h5>
        </div> 
      <div class="stats">
        <h6>Artist / Producer</h6>
        </div> 
      <div class="stats">
        <h6>number of gigs grabbed: </h6>
        <h6>49</h6>
        </div> 
      <div class="stats">
        <h6>Money grabbed: </h6>
        <h6>$1,000,000,000</h6>
        </div> 
        <div class="stats profileButtons">
        <a class="waves-effect waves-light btn-large" href="/giftgig">Give A gig</a>
        <a class="waves-effect waves-light btn-large" id="editprofile" >Edit Profile</a>
        </div>
      </div>
    </div>
    <div id="postArea">
      {{#each gigs}}
      {{> gigs/gig-block}}
      {{/each}}
    </div>
    <div id="gigArea">
    </div>

  </div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            

<script src="/js/index.js"></script>
